
<div id="gcal-schedule">
    <!-- Google Calendar Appointment Scheduling begin -->
    <link href="https://calendar.google.com/calendar/scheduling-button-script.css" rel="stylesheet">
    <script src="https://calendar.google.com/calendar/scheduling-button-script.js" async></script>
    <script>
    (function() {
      var target = document.currentScript;
      window.addEventListener('load', function() {
        calendar.schedulingButton.load({
          url: 'https://calendar.google.com/calendar/appointments/schedules/AcZssZ0R_eaQZ0aRgt-SI7vYEc26Iz4cwfmr7YwUw8Nq3gvslRPRFBe4xNGYN5xsgXS77jjjGPV-BRK_?gv=true',
          color: '#039BE5',
          label: "Book an appointment",
          target,
        });
      });
    })();
    </script>
    <!-- end Google Calendar Appointment Scheduling -->
</div>